<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MercadoLiebre: Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="static/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="barra">Buscar productos, marcas y más...</div>
                <div class="buscar"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <p class="login">Iniciar sesion</p>
        <input class="user" placeholder="Nombre de usuario">
        <br />
        <input  class="password" type="password" id="password" name="password" placeholder="Contraseña">
        <br />
<button class="log"> ingresar </button>
    </main>
    <footer>
        <div class="iconos"> 
        <i class="fas fa-credit-card"></i>
        </div>
        <h5>Paga con tarjeta de credito o en efectivo</h5>
        <p>Con mercadoLiebreCash tienes cuotas sin 
            intereses con tarjeta o efectivo  de puntos 
            de pago ¡Y siempre es seguro!.
        
        
        </p>
        
        <div class="iconos"> 
        <i class="fas fa-gift"></i>
        </div>
        <h5>Envio gratis desde los $2500 </h5>
        <p>solo por estar registrado en Mercado Liebre 
            tienes envios gratis en miles de productos. 
            Es un beneficio de MercadoPuntos.
            
        </p>
        <div class="iconos"> 
        <i class="fas fa-user-shield"></i>
        </div>
       <h5>Seguridad de principio a fin</h5>
       <p>¿No te gusta?, ¡Devuelvelo! En Mercado Liebre
            no hay nada que no puedas hacer porque 
            estas siempre protegid@</p>

           <h6>Copright 1999-2020 MercadoLiebre S.R.L</h6>
    </footer>
</body>
</html>