<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MercadoLiebre: Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="static/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="barra">Buscar productos, marcas y más...</div>
                <div class="buscar"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main> 
        <p class="crea">Crea tu cuenta</p>
        <form> 
            <input class ="dato" type="text" placeholder="Nombre y Apellido">
            <br />
            <input class="dato" type="text" placeholder="Nombre de Usuario">
            <br />
            <input class="dato" type="email" placeholder="e-mail">
            <br />
            <br />
            <p class="fecha">Fecha de Nacimiento</p>
            <br />
            <input class="dato" type="date"  name="dob" /> 
            <br />
            <input class="dato" type="text" placeholder="Domicilio">
            
            <p class="perfil"> Perfil de Usuario </p>
            <div>
            <input type="radio" id="comprador" name="profile" value="comprador">
            <label for="comprador">comprador</label>
            </div>
             <input type="radio" id="vendedor" name="profile" value="vendedor"></div>
            <label for="vendedor">vendedor</label>
        </div>
        <p class="intereses"> Intereses </p>
         <div>
            <input type="checkbox" id="electro" name="electro" value="electro">
            <label for="electro">electro</label>
            </div>
             <input type="checkbox" id="moda" name="moda" value="moda"></div>
            <label for="moda">Moda</label>
        </div>
            <div>
            <input type="checkbox" id="hogar" name="hogar" value="hogar">
            <label for="hogar">Hogar</label>
            </div>
             <input type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria"></div>
            <label for="jugueteria">Jugueteria</label>
        </div>
            <div>
            <input type="checkbox" id="vida-sana" name="vida-sana" value="vida-sana">
            <label for="vida-sana">Vida Sana</label>
            </div>
            <div>
                <p class="foto">Foto de perfil:</p>
                <input type="file" name="foto" accept=".jpg" multiple>

            </div>

            <p class="contraseña">Contraseña</p>
            <div>
            <input class="contra" type="password" id="password" name="password" placeholder="Contraseña">
            </div>
            <div>
                <input class="confirm" type="password" id="password" name="password" placeholder="Confirma contraseña">
                </div>
                <div>
                <button class="enviar">Enviar</button>
                <button class="borrar">Borrar</button>
            
        </div>
    </form>

    </main>
<footer>
    <div class="iconos"> 
    <i class="fas fa-credit-card"></i>
    </div>
    <h5>Paga con tarjeta de credito o en efectivo</h5>
    <p>Con mercadoLiebreCash tienes cuotas sin 
        intereses con tarjeta o efectivo  de puntos 
        de pago ¡Y siempre es seguro!.
    
    
    </p>
    
    <div class="iconos"> 
    <i class="fas fa-gift"></i>
    </div>
    <h5>Envio gratis desde los $2500 </h5>
    <p>solo por estar registrado en Mercado Liebre 
        tienes envios gratis en miles de productos. 
        Es un beneficio de MercadoPuntos.
        
    </p>
    <div class="iconos"> 
    <i class="fas fa-user-shield"></i>
    </div>
   <h5>Seguridad de principio a fin</h5>
   <p>¿No te gusta?, ¡Devuelvelo! En Mercado Liebre
        no hay nada que no puedas hacer porque 
        estas siempre protegid@</p>

       <h6>Copright 1999-2020 MercadoLiebre S.R.L</h6>
</footer>

</body>
</html>